body {
  background: black;
}

main {
  width: 90%;
  margin: 10px auto;
  background: #777;
  padding: 10px;
  border-radius: 5px;
}

#sketch-holder {
   width: 100%;
   text-align:center;
}

canvas {
   display: inline;
}

#buttonHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

button, #colorPicker, #brushSize, input, label {
  margin-left: 10px;
}
